name: Test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/checkout@master
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        rust: [stable]
        experimental: [false]
        # Note: We're no longer reliant on nightly, so we can remove this.
        #       Keeping it here for future reference.
        #
        # # include:
        # #   # Test on stable -- we expect this to fail, but we want to know when it starts working!
        # #   - rust: stable
        # #     os: ubuntu-latest
        # #     experimental: true
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
      - uses: actions/checkout@master
      - name: Install npm packages for examples & tests
        shell: bash
        run: |
          (cd ./crates/vite-rs/test_projects && npm ci)
          (cd ./crates/vite-rs-axum-0-8/test_projects/basic_usage_test/app && npm ci)
          (cd ./crates/vite-rs-axum-0-8/test_projects/ctrl_c_handling_test/app && npm ci)
          (cd ./crates/vite-rs-axum-0-8/examples/basic_usage/app && npm ci)
          (cd ./crates/vite-rs/examples/vite-project-folder && npm ci)
      - name: Run tests # note: this step also compiles examples, but does not run them.
        run: |
          # VITE-RS
          cargo test -p vite-rs
          cargo test -p vite-rs --release

          # AXUM
          cargo test -p vite-rs-axum-0-8
          cargo test -p vite-rs-axum-0-8 --release
      - name: Run/compile examples
        shell: bash
        run: |
          # VITE-RS
          cargo run -p vite-rs --example basic_usage
          cargo run -p vite-rs --example basic_usage --release
          cargo run -p vite-rs --example custom_ctrl_c_handler
          cargo run -p vite-rs --example custom_ctrl_c_handler --release

          # AXUM
          (cd ./crates/vite-rs-axum-0-8/examples/basic_usage && cargo build)
          (cd ./crates/vite-rs-axum-0-8/examples/basic_usage && cargo build --release)
